* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.container {
  display: flex;
}

.nav-container {
  max-width: 1424px;
  max-height: 742px;
}

.link-elements {
  margin-top: 55px;
  margin-left: 249px;
}

.link-elements li {
  list-style-type: none;
  font-size: 14px;
  padding-right: 40px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 41px;
  text-transform: uppercase;
}

.link-elements li:first-child {
  margin-right: auto;
  font-size: 26px;
  font-weight: 400;
  line-height: 41px;
}

.link-elements li:last-child {
  padding-right: 242px;
}

.link-elements a {
  text-decoration: none;
}

.menu {
  color: #fff;
}

.golden {
  color: #fed136;
  font-family: Wisdom-Script;
}

.header {
  text-align: center;
}

.header h2 {
  color: #fff;
  margin-top: 212px;
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
}

.header h1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 75px;
  text-transform: uppercase;
  letter-spacing: -1.88px;
  margin-top: 52px;
}

.header .tellMeMore {
  background-color: #fed136;
  font-family: Montserrat;
  border: none;
  width: 240px;
  height: 65px;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 160px;
  text-transform: uppercase;
}

.nav-image {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/860379/pexels-photo-860379.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1403px;
  height: 742px;
  margin-top: 42px;
}

.services {
  text-align: center;
}

.services .service {
  margin-top: 120px;
  font-family: Montserrat;
  font-size: 40px;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.services .text {
  margin-top: -19px;
  color: #777777;
  font-family: "Droid Serif";
  font-size: 16px;
  font-style: italic;
}

.services .row {
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  right: 20px;
}

.services .row .align-left {
  position: relative;
  left: 90px;
}

.services .row .align-right {
  position: relative;
  right: 90px;
}

.services .row li {
  list-style-type: none;
}

.services .row li .icon {
  font-size: 40px;
  color: #fed136;
  border: 1px solid #fed136;
  line-height: 67px;
  width: 67px;
  text-align: center;
  border-radius: 50%;
  margin-top: 96px;
}

.services .row li .eCommerce h2,
.services .row li .responsiveWeb h2,
.services .row li .webSecurity h2 {
  color: #222222;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -0.45px;
}

.services .row li .eCommerce p,
.services .row li .responsiveWeb p,
.services .row li .webSecurity p {
  width: 274px;
  height: 57px;
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
  margin-bottom: 118px;
}

.portfolio {
  text-align: center;
  background-color: #f7f7f7;
}

.portfolio .bottom {
  padding-bottom: 120px;
}

.portfolio h2 {
  color: #222222;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 120px;
}

.portfolio .porfolio-description {
  color: #777777;
  font-family: "Droid Serif";
  font-size: 16px;
  font-style: italic;
}

.portfolio .gallery-container {
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio .gallery-container .photo-container {
  flex-direction: column;
}

.portfolio .gallery-container .photo-container .photo {
  margin: 37px;
}

.portfolio .gallery-container .photo-container .info {
  width: 291px;
  height: 93px;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  margin-left: 37px;
  margin-top: -37px;
}

.portfolio .gallery-container .photo-container .info h3 {
  color: #333333;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
}

.portfolio .gallery-container .photo-container .info p {
  margin-top: -4px;
  color: #737373;
  font-family: "Droid Serif";
  font-size: 14px;
  font-style: italic;
}

.about-us {
  text-align: center;
}

.about-us h2 {
  color: #222222;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.about-us p {
  color: #777777;
  font-family: "Droid Serif";
  font-size: 16px;
  font-style: italic;
}

.about-us .history-container {
  justify-content: center;
  flex-wrap: wrap;
}

.about-us .history-container .about-photo-container {
  justify-content: center;
}

.about-us .history-container .about-photo-container .about-photo {
  border-radius: 50%;
  border: 7px solid #f1f1f1;
  margin-left: 45px;
  margin-right: 45px;
}

.about-us .history-container .history {
  width: 307px;
  text-align: right;
}

.about-us .history-container .history h3 {
  color: #222222;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  text-transform: uppercase;
  letter-spacing: -0.45px;
}

.about-us .history-container .history h4 {
  margin-top: -10px;
  color: #222222;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
}

.about-us .history-container .history p {
  margin-top: -15px;
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
}

.about-us .history-container .history-2 {
  width: 307px;
  text-align: left;
}

.about-us .history-container .history-2 h3 {
  color: #222222;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  text-transform: uppercase;
  letter-spacing: -0.45px;
}

.about-us .history-container .history-2 h4 {
  margin-top: -10px;
  color: #222222;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
}

.about-us .history-container .history-2 p {
  margin-top: -15px;
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
}

.about-us .history-container .last-photo {
  position: relative;
  text-align: center;
  background-color: #fed136;
  border-radius: 50%;
  width: 168px;
  height: 168px;
  border: 7px solid #f1f1f1;
}

.about-us .history-container .last-photo p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.45px;
}

.vl {
  justify-content: center;
  width: 3px;
  height: 94px;
  background-color: red;
}

.team {
  margin-top: 120px;
  flex-direction: row;
}

.team h2 {
  color: #222222;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-bottom: 23px;
}

.team p {
  color: #777777;
  font-family: "Droid Serif";
  font-size: 16px;
  font-style: italic;
  margin-bottom: 83px;
}

.team .team-container {
  justify-content: center;
  flex-wrap: wrap;
}

.team .team-container .team-photo-container {
  flex-direction: column;
}

.team .team-container .team-photo-container .name {
  color: #222222;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  margin-top: -10px;
}

.team .team-container .team-photo-container .position {
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 14px;
  letter-spacing: -0.35px;
  margin-top: -75px;
}

.team .team-container .team-photo-container .team-photo {
  margin: 25px;
  border-radius: 50%;
}

.team .team-container .team-photo-container .team-icon {
  flex-direction: row;
  margin-top: -65px;
}

.team .team-container .team-photo-container .team-icon i {
  border: 3px solid #222222;
  border-radius: 50%;
  height: 41px;
  width: 41px;
  text-align: center;
  line-height: 41px;
}

.team .team-container .team-description {
  text-align: center;
  margin-top: 50px;
  margin-left: 320px;
  margin-right: 335px;
  color: #777777;
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
}

.contact-us {
  margin-top: 90px;
  max-width: 1424px;
  max-height: 742px;
}

.contact-us .logo {
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 21px;
}

.contact-us .logo img {
  margin: 20px;
}

.contact-us .contact-form .form-background {
  background: url("../images/p.jpg");
  position: relative;
  width: 1402px;
  height: 676px;
}

.contact-us .contact-form .form-background h2 {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 110px;
}

.contact-us .contact-form .form-background p {
  color: #777777;
  font-family: "Droid Serif";
  font-size: 16px;
  font-style: italic;
  margin-top: -25px;
  margin-bottom: 76px;
}

.contact-us .contact-form .form-background .myForm {
  justify-content: center;
  flex-wrap: wrap;
}

.contact-us .contact-form .form-background .myForm .message {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.contact-us .contact-form .form-background .myForm .message textarea {
  width: 455px;
  height: 210px;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

.contact-us .contact-form .form-background .myForm .message textarea::placeholder {
  padding: 15px;
  color: #bbbbbb;
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: -0.35px;
}

.contact-us .contact-form .form-background .myForm .contact {
  flex-direction: column;
  padding-right: 15px;
}

.contact-us .contact-form .form-background .myForm .contact input {
  width: 455px;
  height: 50px;
  margin-bottom: 30px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  flex: 1;
}

.contact-us .contact-form .form-background .myForm .contact input::placeholder {
  padding: 20px;
  color: #bbbbbb;
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: -0.35px;
}

.contact-us .contact-form .form-background .sendMessage {
  background-color: #fed136;
  font-family: Montserrat;
  border: none;
  width: 240px;
  height: 65px;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 160px;
  text-transform: uppercase;
  color: white;
}

.footer-container h4 {
  margin-top: 90px;
}

.footer-container .icon {
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */