$font-1 : "Montserrat";
$font-2 : "Droid-Serif";
$font-3 : "Roboto Slab";
$font-logo : monospace;
$font-color-1: #fff;
$color-1: #fed136;
$color-2: #777777;
$color-3: #222222;
$color-4: #ffffff;
$color-5: #333333;
$color-6: #737373;
$color-7: #f7f7f7;
$color-8: #f1f1f1;
$color-9: #cccccc;
$color-10: #bbbbbb;
$color-11: #555555;

@mixin font400($font-weight: 400, $text-transform: uppercase) {
    font-weight: $font-weight;
    text-transform: $text-transform;
} 

@mixin font700($font-weight: 700, $text-transform: uppercase) {
    font-weight: $font-weight;
    text-transform: $text-transform;
} 

%font14 {
    font-size: 14px;
    font-style: italic;
}

%font16 {
	font-size: 16px;
	font-style: italic;
}

%font40 {
	font-size: 40px;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

.container {
	display: flex;
}

.nav-container {
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100%;

	.nav-image {
	    background:
		    linear-gradient(
			   rgba(0, 0, 0, .6),
		       rgba(0, 0, 0, .6)),
		url("../images/Background_Image.jpg");
		background-position: center;
		background-repeat: no-repeat;
	    background-size: cover;
		width: 1403px;
		height: 742px;
		max-width: 100%;
		max-height: 100%;

		.link-elements {
			justify-content: center;
			margin-top: 55px;
			max-width: 660px;
			margin-left: 130px;
			
			
			.menu {
				color: $font-color-1;
			
			}	

			.golden {
				color: $color-1;
					font-family: $font-logo;
			}

			li {
				@include font400;
				list-style-type: none;
				font-size: 14px;
				padding-right: 40px;
				font-family: $font-1;
				line-height: 41px;
			}

			li:first-child {
				margin-right: auto;
		 		font-size: 26px;
				font-weight: 400;
				line-height: 41px;
			}

			li:last-child {
				margin-left: auto;
			}

			a {
				text-decoration: none;
			}
		}

		.header {
			flex-direction: column;
			text-align: center;	
			justify-content: center;
			

			h2 {
				@extend %font40;
				color: $font-color-1;
				margin-top: 192px;
				letter-spacing: -1px;

			}

			h1 {
				color: $font-color-1;
				font-family: $font-1;
				font-size: 75px;
				text-transform: uppercase;
				letter-spacing: -1.88px;
				margin-top: 2px;
			}
			
			.tellMeMore {
				background-color: $color-1;
				font-family: $font-1;
				border: none;
				width: 240px;
				height: 65px;
				font-size: 18px;
				border-radius: 5px;
				margin-bottom: 160px;
				text-transform: uppercase;
				cursor: pointer;
			}
		}
	}
}

.services {
    text-align: center;

		.service {
	    	margin-top: 120px;
			font-family: $font-1;
			font-size: 40px;
			line-height: 75px;
			text-transform: uppercase;
			letter-spacing: -1px;
    	}

     	.text {
	    	margin-top: -19px;
	    	//margin-bottom: 25px;
			color: $color-2;
			font-family: $font-2;
			@extend %font16;
    	}

    	.row {
    		flex-wrap: wrap;
			justify-content: space-around;
			position: relative;
			right: 20px;

			/*.align-left {
				position: relative;
				left: 90px;
			}

			.align-right {
				position: relative;
				right: 90px;
			}
			*/
			li {
				list-style-type: none;

				.icon  {
					font-size: 35px;
					color: $color-1;
					border: 3px solid $color-1;
					line-height: 67px;
					width: 67px;
					text-align: center;
					border-radius: 50%;
					margin-top: 96px;
				}
				

				.eCommerce,
				.responsiveWeb, 
				.webSecurity {
					h2{
						color: $color-3;
						font-family: $font-1;
						font-size: 18px;
						font-weight: 700;
						line-height: 75px;
						letter-spacing: -0.45px;
					}

					p {
						width: 274px;
						//height: 57px;
						color: $color-2;
						font-family:$font-3;
						font-size: 14px;
						font-weight: 400;
						letter-spacing: -0.35px;
						margin-bottom: -20px;
					}
				}
			}
		}
	}

.portfolio {
	text-align: center;
	background-color: $color-7;
	
		.bottom {
			padding-bottom: 120px;
		}

		h2 {
			@include font700;
			color: $color-3;
			font-family: $font-1;
			font-size: 40px;
			line-height: 75px;
			letter-spacing: -1px;
			padding-top: 120px;
		}

		.porfolio-description{
			color: $color-2;
			font-family: $font-2;
			@extend %font16;
		}

		.gallery-container {
			flex-wrap: wrap;
			justify-content: center;

			.photo-container {
				flex-direction: column;

    			.photo {
    				margin: 37px;
    				cursor: pointer; 
    			}

				.info {
					width: 291px;
					height: 93px;
					background-color: $color-4;
					flex-direction: column;
					justify-content: center;
					margin-left: 37px;
					margin-top: -37px;

	    			h3 {
						color: $color-5;
						font-family: $font-1;
						font-size: 18px;
						font-weight: 700;
						letter-spacing: -0.45px;
	    			}
					
					p {
						margin-top: -4px;
						color: $color-6;
						font-family: $font-2;
						@extend %font14;
					}
				}	
			}
		}
}

.about-us {
	text-align: center;

	h2 {
		@include font700;
		color: $color-3;
		font-family: $font-1;
		font-size: 40px;
		line-height: 75px;
		letter-spacing: -1px;
	} 

	p {
		color: $color-2;
		font-family: $font-2;
		@extend %font16;
			}
	
	.history-container {
		justify-content: center;
		flex-wrap: wrap;

		.about-photo-container {
			justify-content: center;

			.about-photo {
				border-radius: 50%;
				border: 7px solid $color-7;
				margin-left: 45px;
				margin-right: 45px;
				}
			}
		
		.history {
			width: 307px;
			text-align: right;
		
			h3 {
				color: $color-3;
				font-family: $font-1;
				font-size: 18px;
				letter-spacing: -0.45px;
				@include font700;
			}

			h4 {
				margin-top: -10px;
				color: $color-3;
				font-family: $font-1;
				font-size: 18px;
				font-weight: 700;
			}

			p {
				margin-top: -15px;
				color: $color-2;
				font-family: $font-3;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: -0.35px;
			}
		}	

		.history-2 {
			width: 307px;
			text-align: left;
			
			h3 {
				color: $color-3;
				font-family: $font-1;
				font-size: 18px;
				letter-spacing: -0.45px;
				letter-spacing: -0.45px;
				@include font700;
			}

			h4 {
				margin-top: -10px;
				color: $color-3;
				font-family: $font-1;
				font-size: 18px;
				font-weight: 700;
			}

			p {
				margin-top: -15px;
				color: $color-2;
				font-family: $font-3;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: -0.35px;
			}
		}

		.last-photo {
			position: relative;
  			text-align: center;
			background-color: $color-1;
			border-radius: 50%;
			width: 168px;
			height: 168px;
			border: 7px solid $color-8;

			p {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
				color: $color-4;
				font-family: $font-1;
				font-size: 18px;
				@include font700;
				letter-spacing: -0.45px;
			}
		}
	}
		
}

.vl {
	justify-content: center;
  	width: 3px;
    height: 94px;
    background-color: red;
}

.team {
	margin-top: 120px;
	flex-direction: row;
	text-align: center;
	h2 {
		color: $color-3;
		font-family: $font-1;
		font-size: 40px;
		@include font700;
		letter-spacing: -2px;
		margin-bottom: 23px;
	}

	p {
		color: #777777;
		font-family: $font-2;
		margin-bottom: 83px;
		@extend %font16;
	}

	.team-container {
		justify-content: center;
		flex-wrap: wrap;

		.team-photo-container {
			flex-direction: column;

			.name {
				color: $color-3;
				font-family: $font-1;
				font-size: 16px;
				font-weight: 700;
				margin-top: -10px;
			}

			.position {
				color: $color-4;
				font-family: $font-3;
				font-size: 14px;
				letter-spacing: -0.35px;
				margin-top: -75px;
			}

			.team-photo {
				margin: 25px;
				border-radius: 50%;
				width: 221px;
				height: 221px;
			}

			.team-icon {
				
				margin-top: -65px;
				
				 .fa-facebook-f,
				 .fa-twitter,
				 .fa-pinterest-p,
				 .fa-google-plus-g{
					border: 3px solid $color-3;
					border-radius: 50%;
					height: 41px;
					width: 41px;
					//text-align: center;
					line-height: 39px;
					cursor: pointer;
				}

				.fa-facebook-f:hover {
				    background-color: #3B5998;
				    color: #FFF;
				    border: 3px solid #3B5998;

				}

				.fa-twitter:hover {
					background-color: #00aced;
					color: #FFF;
				    border: 3px solid #00aced;
				}

				.fa-pinterest-p:hover {
					background-color: #cb2028;
					color: #FFF;
				    border: 3px solid #cb2028;
				}

				.fa-google-plus-g:hover {
					background-color: #d95232;
					color: #FFF;
				    border: 3px solid #d95232;
				}
			}
		}

		.team-description {
			text-align: center;
			justify-content: center;
			max-width: 660px;
			/*margin : {
				top: 50px;
				left: 320px;
				right: 335px;
			}*/
			color: $color-2;
			font-family: $font-3;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: -0.4px;
		}
	}	
}

.contact-us {
	margin-top: 90px;
	max-width: 100%;
	

	.logo {
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 21px;

		img {
			margin : 20px;
		}
	}

	.contact-form {
		max-width: 100%;

		.form-background {
			background: url("../images/p.jpg");
			position: relative;
			width: 100%;
			text-align: center;

			h2 {
				color: $color-4;
				font : {
					family: $font-1;
					size: 40px; 
				}
				@include font700;
				letter-spacing: -1px;
				margin-top: 110px;
			}

			p {
				color: $color-2;
				font-family: $font-3;
				@extend %font16;
				margin : {
					top: -25px;
					bottom: 76px;
				}
 			}

			.myForm {
				justify-content: space-around;
				flex-wrap: wrap;

				.message {
	    			
	    			flex-direction: column;
	  				//padding-left: 15px;
					max-width: 100%;
					textarea {
				   		width: 455px;
				   		height: 210px;
				   		max-width: 100%;
				   		border: 1px solid $color-9;
				    	border-radius: 2px;
						
					}
					textarea::placeholder {
						padding: 15px;
						color: $color-10;
						font-family: $font-1;
						font-size: 14px;
						text-transform: uppercase;
						letter-spacing: -0.35px;
					}
				}

			.contact {
				flex-direction: column;
				//margin-right: 15px; 
				max-width: 100%;	
				input {
				    width: 455px;
				    height: 50px;
				    max-width: 100%;
				    margin-bottom: 30px;
				    border: 1px solid $color-9;
				    border-radius: 2px;
				    flex: 1;
				}

				input::placeholder {
					padding: 20px;
					color: $color-10;
					font-family: $font-1;
					font-size: 14px;
					text-transform: uppercase;
					letter-spacing: -0.35px;
				}
			}
		}

		.sendMessage {
				background-color: $color-1;
				font-family: $font-1;
				border: none;
				width: 240px;
				height: 65px;
				font-size: 18px;
				border-radius: 5px;
				margin-top: 30px;
				margin-bottom: 160px;
				text-transform: uppercase;
				color: white;
				cursor: pointer;
			}	
		}
		
	}
}

footer{
	.footer-container {
		
		justify-content: space-around;
		flex-wrap: wrap;
		margin-top: 25px;

		.copyright {
			//margin-top: 80px;
			//width: 355px;
			color: $color-11;
			font-family: $font-1 ;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: -0.35px;
			//text-align: left;
		}
		.copyright-dummy {
			width: 355px;
		}
		.icon {
			margin-right:  9px;

			i {
					border-radius: 50%;
					height: 40px;
					width: 40px;
					text-align: center;
					line-height: 40px;
					color: $color-4;
					background-color: $color-3;
					margin-right:  9px;
				}

			.fa-facebook-f:hover {
				    background-color: #3B5998;
				    color: #FFF;
				    border: 0;

				}

				.fa-twitter:hover {
					background-color: #00aced;
					color: #FFF;
				    border: none;
				}

				.fa-pinterest-p:hover {
					background-color: #cb2028;
					color: #FFF;
				    border: none;
				}

				.fa-google-plus-g:hover {
					background-color: #d95232;
					color: #FFF;
				    border: none;
				}	
		}
	}
}